*.iml
.gradle
.kotlin/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
app/build/
build/
companion/macos/.build/
companion/macos/dist/
companion/windows/bin/
companion/windows/obj/
companion/windows/dist/
compile_commands.json
